---
import Header from "../../components/layout/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Header
    title="$ omakasui / manuals"
    subtitle="Manuals for all the projects here"
    accessibleName="OmaKasui - Manuals"
  />
  <section aria-labelledby="themes-heading">
    <h2 class="sr-only" id="themes-heading">Available manuals</h2>
    <p class="text-[1.1rem] leading-[1.8] text-[#ccc]">
      This section is under construction. Please check back later for updates.
    </p>
  </section>
</Layout>
