# General configuration for directory redirects
RewriteEngine On

# Redirect directories without trailing slash
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1/ [R=301,L]

# DirectoryIndex
DirectoryIndex index.html
