#toggleNavBtn.active {
  background-color: #89b29ee6;
  border-color: #89b29ee6;
}

#toggleNavBtn.active span {
  background-color: #221e22;
}

/* Prevent flash animation on page load */
.preload * {
  transition: none !important;
}

body:has(header):has(:not(#archivedBanner)) #toggleNavBtn {
  top: 0.75rem;
}

body:has(header):has(:not(#archivedBanner)) #sideNav {
  padding-top: 3rem;
}

body:has(header):has(#archivedBanner) header {
  position: relative;
  top: 44px;
}

body:has(header):has(#archivedBanner) #toggleNavBtn {
  top: calc(44px + 0.75rem);
}

body:has(header):has(#archivedBanner) #sideNav {
  padding-top: calc(44px + 3rem);
}

body:has(#archivedBanner) #breadcrumb {
  top: calc(40px + 4px);
}

body:not(:has(#archivedBanner)) #breadcrumb {
  top: 0;
}

@media (min-width: 768px) {
  body:has(header):has(:not(#archivedBanner)) #toggleNavBtn {
    top: 0.5rem;
  }

  body:has(header):has(:not(#archivedBanner)) #sideNav {
    padding-top: 3rem;
  }

  body:has(header):has(#archivedBanner) #toggleNavBtn {
    top: calc(44px + 0.75rem);
  }

  body:has(header):has(#archivedBanner) #sideNav {
    padding-top: calc(44px + 3rem);
  }
}
