---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex min-h-screen w-full flex-col items-center justify-center px-4 text-center"
  >
    <h1 class="mb-4 text-6xl font-bold">404</h1>
    <p class="mb-8 text-xl">
      <i>Oops!</i> The page you're looking for doesn't exist.
    </p>
    <a href="/">Go back to the homepage</a>
  </div>
</Layout>
